@import "https://code.highcharts.com/css/stocktools/gui.css";
@import "https://code.highcharts.com/css/annotations/popup.css";
.highcharts-menu-wrapper {
    padding: 0 !important;
}
#chartContainer>div{
   
    height: 800px !important;
}
.ant-pro-card{
    height: auto !important;
}