.main{
    margin: 0 auto 20px;
    padding-top: 20px;
    padding-left: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.cate-box{
    min-height:calc(100vh - 100px);
    margin-right: 20px;
    width: 200px;
    flex-shrink: 0;
    background: #fff;
    overflow:hidden;
    -webkit-box-shadow: 0 3px 6px 0 #efefef;
    box-shadow: 0 3px 6px 0 #efefef;
}
.content-box{
    width: calc(100% - 220px);
    background: #fff;
    overflow: hidden;
    -webkit-box-shadow: 0 3px 6px 0 #efefef;
    box-shadow: 0 3px 6px 0 #efefef;
}

.c-box{
    padding: 20px;
}
.c-box-head{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.c-box-body{
    padding: 5px 0;
}

.c-box-body span{
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    margin:5px 5px 0 0;
    background: #f1f1f1;
    text-align: center;
    box-sizing: border-box;
    width: 70px;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
}

.c-box-body span.active{
    background: #eee!important;
    border-top: 3px solid #f79817ff!important;
}

.user-active{
    background: #eee!important;
    border-top: 3px solid #f79817ff!important;
}

.c-box-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    background: #f1f1f1;
    cursor: pointer;
}

.c-row-avatar img{
    width: 32px;
    height: 32px;
    margin:5px 5px 0 0;
}

.v-name{
    margin: 0;
    color: #333;
    font-size: 12px;
}
.v-info{
    margin: 0;
    color: #888;
    font-size: 10px;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}


.t-box{
    padding: 20px;
}
.t-box-head{
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.t-box-head a{
    color: #555;
}

.t-box-head a:hover{
    color: #555;
    text-decoration: underline;
}

.t-box-body{
    margin:5px 0;
    padding-right: 20px;
}
.post-row{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:5px 0;
    color: #333;
    font-size: 15px;
}

.post-row:hover{
    background: #f8f8f8;
}

.post-title{
    margin: 0;
}

.post-title a{
    color: #555;
}

.post-title a:hover{
    color: #0056b3;
    text-decoration: underline;
}
.post-time{
    color: gray;
    margin:0 0 0 auto;
}

#add-more {
    cursor: pointer;
    text-align: center;
    background: #fff;
    color: gray;
    padding-top: 20px;
    margin-top: 20px;
    border-top:1px solid #eee;
    font-size: 14px;
}

#add-more:hover{
    color: #f79817ff;
}

#no-more{
    display: none;
    text-align: center;
    background: #fff;
    color: gray;
    margin-top: 20px;
    padding-top: 20px;
    border-top:1px solid #eee;
    font-size: 14px;
}

.cate-row{
    padding: 10px 15px;
    color: #333;
    background-color: #f1f1f1;
    border-color: #ddd;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 3px;
}
.collapse{
    text-align: center;
}
.collapsed{
    display: none;
    background: #f8f8f8;
}