
body{
    margin: 0;
}
.footer{


    position: relative;
    z-index: 999;
    /* margin: 8px; */
    /* bottom: 0px; */
    text-align: center;
    width: 100%;
    margin-bottom: 8px;
    margin-top: 8px;

}
.ant-pro-layout .ant-pro-sider.ant-pro-sider-fixed {
    top: 40px !important;
}
.highcharts-credits{
    display: none !important;
}